/* Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;700;800&display=swap');

/* shared styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
}

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
    margin-right: 30px;
}

/* banner */
.banner{
    align-items: center;
}
.banner-head {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-tittle {
    width: 862px;
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    text-align: center;
}

.banner-description {
    width: 855px;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    text-align: center;
    margin-bottom: 25px;
}
.banner img{
    margin-top: 25px;
    width: 100%;
}